<!-- i want to iterate the list to draw it in my table-->

@using EmployeeTable.ViewModels
@model EmployeeTable.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Employees List";
}

<br />
<h2>Employees List</h2>
<br />

@*@Html.ActionLink("+ Add a new Employee", "Add")*@      
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
      + Add a new Employee    

    </button>

<br />    
<br /> 



@Html.Partial("_PartialAddEmployee")

@Html.Partial("_PartialEmployeeTable")                 <!-- Table Partial View-->

@section Scripts{   
    

    <script>
        function empDelete(id) {
            var result = confirm("Confirm the Delete Process ?");

            if (result) {
                window.location.replace("/Employee/Delete/" + id);
            }
        }


    </script> 



}             
